"*":
  core:
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".idea"
      "*.iml"
    ]
    themes: [
      "nucleus-dark-ui"
      "quickdraw"
    ]
  editor:
    fontFamily: "Input Mono"
    fontSize: 15
    lineHeight: 1.25
    tabLength: 4
    tabType: "soft"
  minimap:
    scrollAnimation: true
  pigments:
    markerType: "dot"
    sortPaletteColors: "by color"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
