"*":
  core:
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".idea"
      "*.iml"
    ]
    themes: [
      "nucleus-dark-ui"
      "quickdraw"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Input Mono"
    fontSize: 15
    lineHeight: 1.25
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "file-icons":
    coloured: false
  minimap:
    scrollAnimation: true
  "package-sync":
    forceOverwrite: true
  pigments:
    markerType: "dot"
    sortPaletteColors: "by color"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
