// quickdraw colors
@quickdraw-dark:    #2b3135;
@quickdraw-medium:  #4c5356;
@quickdraw-light:   #c4c4b5;

@quickdraw-red:     #a66959;
@quickdraw-green:   #769070;
@quickdraw-yellow:  #ac8d6e;
@quickdraw-blue:    #607a86;
@quickdraw-purple:  #80757e;
@quickdraw-aqua:    #60867f;
@quickdraw-orange:  #b38359;

// Base colors -----------------------------------
@syntax-accent:    @quickdraw-red;
@syntax-guide:     fade(@syntax-fg, 15%);
@syntax-guide-alt: fade(@syntax-fg, 25%);

// swap these two to use a light theme.
@syntax-fg:        @quickdraw-light;
@syntax-bg:        @quickdraw-dark;
