#define dark    #2b303b
#define medium  #4c5356
#define light   #c4c4b5

#define red     #a66959
#define green   #769070
#define yellow  #ac8d6e
#define blue    #607a86
#define magenta #80757e
#define cyan    #60867f
#define orange  #b38359

*.foreground:   light
*.background:   dark
*.cursorColor:  light

*.color0:       dark
*.color8:       medium

*.color1:       red
*.color9:       red

*.color2:       green
*.color10:      green

*.color3:       yellow
*.color11:      yellow

*.color4:       blue
*.color12:      blue

*.color5:       magenta
*.color13:      magenta

*.color6:       cyan
*.color14:      cyan

*.color7:       light
*.color15:      light


!rofi
rofi.opacity: 95
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.bw: 0
rofi.fg: light
rofi.bg: dark
rofi.hlfg: dark
rofi.hlbg: light
